body{
    background: #000000;
    color: #fff;
     box-sizing: border-box;
}
.fl{float: left;}
.left{
    width: 20%;
    background: #2749FB;
    text-align: center;
    .img{width: 100%;text-align: center;}
    }
